<div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4"><h1 class="title">Contact Us</h1></div>
       
        <div class="col-md-3" style="margin-top:25px;">
         
          <div class="btn-wrapper profile">
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
              href="http://www.twitter.com/lindasports"
              target="_blank"
            >
              <i class="fab fa-twitter"> </i>
            </a>
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
              href="http://www.facebook.com/lindasports"
              target="_blank"
            >
              <i class="fab fa-facebook-square"> </i>
            </a>
            <a
              class="btn btn-icon btn-neutral btn-round btn-simple"
              href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=lindasportsmanagement@gmail.com"
              target="_blank"
            >
              <i class="fas fa-envelope-square"> </i>
            </a>
          </div>
        </div>
        <div class="col-md-5"><h5 class="title">Address: No. 1, 2,3 Near Garden City College, Bhattarahalli, K.R. Puram , Bangalore, Karnataka India- 560049
         <br>   Phone: 8073072932
            </h5></div>
      </div>
    </div>
</div>