


<div class="full" style="margin-top:20%;">
    <div class="row">
      <div class="col">  
            <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="assets/img/chidi.jpeg" alt="Avatar" style="width:200px;height:200px;">
                      </div>
                      <div class="flip-card-back">
                            <img src="assets/img/chidi1.jpeg" alt="Avatar" style="width:200px;height:200px;"> </div>
                    </div>
                  </div>        
      </div>
      <div class="col">  
            <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="assets/img/uche.jpeg" alt="Avatar" style="width:200px;height:200px;">
                      </div>
                      <div class="flip-card-back">
                            <img src="assets/img/uche1.jpeg" alt="Avatar" style="width:200px;height:200px;"> </div>
                    </div>
                  </div>        
      </div>
      <div class="col">  
            <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="assets/img/olariche.jpeg" alt="Avatar" style="width:200px;height:200px;">
                      </div>
                      <div class="flip-card-back">
                            <img src="assets/img/olariche1.jpeg" alt="Avatar" style="width:200px;height:200px;"> </div>
                    </div>
                  </div>        
      </div>
    </div>
</div>
