<div class="con">
    <img src="assets/img/7.jpg" alt="Norway" style="width:100%;">
    
    <div class="top-left">Top Left</div>
    <div class="top-right">Top Right</div>
   
    <div class="centered"><h1>OUR SERVICES</h1><br>	
<strong>        We provide a wide range of services including, but not limited to:<br>

        1)	REPRESENTATION:
        Management of the sporting careers of professional footballers including contract negotiations, transfers and mentoring as well as working closely with their families 
        <br>
        2)	BROKERING:
        We operate as intermediaries on behalf of players or football clubs that work with us to complete deals.
        <br>
        3)	BRANDING AND P.R.
        With our in-house branding and graphic design specialist, we offer brand development services, media training and image advice. 
        <br>
        4)	LEGAL ADVICE:
        We offer both legal support and assistance and work with a number of reputable law firms.
        <br>
        5)	FINANCIAL ADVICE:
        Offering tax advice, financial planning and general financial advice. 
        <br>
        6)	DIGITAL MEDIA:
        We help to enhance the image of our clients in the world of social and digital media. Offering in-house services and through our various specialist partners along with management and assistance with regards to communication with the media.
        
    </strong>

    </div>
  </div>