<div class="container" style="min-width:-webkit-fill-available !important;" >
<div class="content-center brand" style="min-width:-webkit-fill-available !important;">
    <carousel [showIndicators]="false">
      <slide>
        <img
          alt="First slide"
          class="d-block w-100"
          src="assets/img/3.jpg"
        />
      </slide>
      <slide>
        <img
          alt="Second slide"
          class="d-block w-100"
          src="assets/img/4.jpg"
        />
      </slide>
      <slide>
        <img
          alt="Third slide"
          class="d-block w-100"
          src="assets/img/5.jpg"
        />
      </slide>
    </carousel>
  </div>
  </div>