<div class="container" style="min-width:-webkit-fill-available !important;" >
<div class="content-center brand aj" style="min-width:-webkit-fill-available !important;">
  
    <carousel [showIndicators]="false">
      <slide>
        <img
          alt="First slide"
          class="d-block w-100"
          src="assets/img/a.jpeg"
        />
      </slide>
      <slide>
        <img
          alt="Second slide"
          class="d-block w-100"
          src="assets/img/f.jpeg"
        />
      </slide>
      <slide>
        <img
          alt="Third slide"
          class="d-block w-100"
          src="assets/img/c.jpeg"
        />
      </slide>
      <slide>
        <img
          alt="Second slide"
          class="d-block w-100"
          src="assets/img/b.jpeg"
        />
      </slide>
      <slide>
        <img
          alt="Second slide"
          class="d-block w-100"
          src="assets/img/d.jpeg"
        />
      </slide>
      <slide>
        <img
          alt="Second slide"
          class="d-block w-100"
          src="assets/img/e.jpeg"
        />
      </slide>
    </carousel>
  </div>

  </div>