<div class="con">
    <img src="assets/img/4.jpg" alt="Norway" style="width:100%;">
    
    <div class="top-left">Top Left</div>
    <div class="top-right">Top Right</div>
    <div class="bottom-right"><h2>QUALITY OF SERVICES</h2><br>
        We provide the highest quality of agency service in order to maximize your earning potential for the duration of your playing career and beyond. We ensure that we can fulfill your needs and secure the very best for you.
        </div>
    <div class="centered"><h2>About Us</h2><br>
    Linda Sports is an agency for professional footballers providing a service that dedicated to the development and management of its client’s careers in football and beyond.
    We also have a total commitment to honesty and transparency. Not just in business, but with our clients too. So that they can make informed decision based on facts not fantasy
    </div>
  </div>